{
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

home.masonperdue.com, *.home.masonperdue.com {
    tls {
        resolvers 1.1.1.1
    }

    @immich host immich.home.masonperdue.com
    handle @immich {
        reverse_proxy 127.0.0.1:2283
    }

    @grafana host grafana.home.masonperdue.com
    handle @grafana {
        reverse_proxy 127.0.0.1:3000
    }

    handle {
        respond "404 Not Found" 404
    }
}
