[Unit]
Description=Librespot Container

[Container]
ContainerName=librespot
Image=docker.io/giof71/librespot:latest
AutoUpdate=registry
Network=host
AddDevice=-/dev/snd
Volume=/home/masonp/.volumes/librespot:/var/cache/librespot:Z
Environment=DEVICE_NAME=Receiver
Environment=DEVICE_TYPE=avr
Environment=DEVICE=plughw:CARD=Audio,DEV=0
Environment=MIXER=softvol
Environment=BITRATE=320
Environment=ENABLE_CACHE=Y
Environment=ENABLE_SYSTEM_CACHE=Y

[Service]
Restart=always

[Install]
WantedBy=default.target
