[Unit]
Description=OwnTone Container

[Container]
ContainerName=owntone
Image=docker.io/owntone/owntone:latest
AutoUpdate=registry
Network=host
Environment=UID=1000
Environment=GID=1000
Volume=/home/masonp/.volumes/owntone/etc:/etc/owntone:Z
Volume=/home/masonp/.volumes/owntone/media:/srv/media:Z
Volume=/home/masonp/.volumes/owntone/cache:/var/cache/owntone:Z
AddDevice=-/dev/snd

[Service]
Restart=always

[Install]
WantedBy=default.target
