[Unit]
Description=Immich Machine Learning Engine

[Container]
ContainerName=immich-ml
Image=ghcr.io/immich-app/immich-machine-learning:release
Network=lan.network
Volume=/home/masonp/.volumes/immich/immich-ml-cache:/cache:Z
AutoUpdate=registry

[Service]
Restart=always
