[Unit]
Description=Grafana Visualization Platform
After=network-online.target victoriametrics.service
Wants=network-online.target

[Container]
Image=docker.io/grafana/grafana-oss:latest
ContainerName=grafana
Network=host
Volume=/etc/grafana/provisioning:/etc/grafana/provisioning:ro
Volume=grafana-data.volume:/var/lib/grafana

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
