[Unit]
Description=Caddy container

[Container]
Image=localhost/caddy:latest
ContainerName=caddy
Environment=CLOUDFLARE_API_TOKEN=
Volume=/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=/etc/caddy/site:/srv:Z
Volume=/etc/caddy/data:/data:Z
Volume=/etc/caddy/config:/config:Z
Network=host

[Service]
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
