[Unit]
Description=VictoriaMetrics Time Series Database
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/victoriametrics/victoria-metrics:latest
ContainerName=victoriametrics
Network=host
Volume=victoriametrics-data.volume:/victoria-metrics-data
Volume=/etc/victoriametrics/scrape.yml:/etc/victoriametrics/scrape.yml:ro
Exec=-storageDataPath=/victoria-metrics-data -promscrape.config=/etc/victoriametrics/scrape.yml -retentionPeriod=3M

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
