[Unit]
Description=Blocky container
Requires=unbound.service
After=unbound.service

[Container]
Image=ghcr.io/0xerr0r/blocky:main
ContainerName=blocky
Environment=TZ=America/Los_Angeles
Volume=%h/.config/blocky/config.yml:/app/config.yml:ro
Volume=%h/.config/blocky/allowlist.txt:/app/allowlists/allowlist.txt:ro
Volume=%h/.config/blocky/blocklist.txt:/app/denylists/blocklist.txt:ro
Volume=%h/.config/blocky/cache:/app/cache
AutoUpdate=registry
Network=host

[Service]
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
