[Unit]
Description=Unbound container
Requires=network-online.target
After=network-online.target unbound-build.service
Wants=unbound-build.service

[Container]
Image=unbound.build
ContainerName=unbound
Network=host
AutoUpdate=registry

[Service]
ExecStartPre=timeout 60s sh -c 'until ping -c1 192.168.50.1; do sleep 1; done;'
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
