[Unit]
Description=Unbound container
After=unbound-build.service
Wants=unbound-build.service

[Container]
Image=unbound.build
ContainerName=unbound
Network=host
AutoUpdate=registry
Volume=%h/.config/unbound/lib:/var/lib/unbound

[Service]
ExecStartPre=timeout 60s sh -c 'until ping -c1 192.168.50.1; do sleep 1; done;'
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
