[Unit]
Description=Immich Machine Learning Engine

[Container]
ContainerName=immich-ml
Image=ghcr.io/immich-app/immich-machine-learning:release
Network=host
Volume=/etc/immich/immich-ml-cache:/cache:Z
AutoUpdate=registry

[Service]
Restart=always
