[Unit]
Description=Immich Web and Application Server
After=immich-db.service immich-redis.service immich-ml.service
Requires=immich-db.service immich-redis.service immich-ml.service

[Container]
ContainerName=immich-server
Image=ghcr.io/immich-app/immich-server:release
Network=immich.network
PublishPort=2283:2283
Environment=DB_HOSTNAME=immich-db
Environment=DB_USERNAME=immich
Environment=DB_PASSWORD=immich_db_secret_pass
Environment=DB_DATABASE_NAME=immich
Environment=REDIS_HOSTNAME=immich-redis
Environment=IMMICH_MACHINE_LEARNING_URL=http://immich-ml:3003
Volume=/home/masonp/.volumes/immich/photos:/data:Z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
